<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<title>{{ .Title }}</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/normalize.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/skeleton.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/custom.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/github.css">
	</head>
<body>
	<div class="container-header">
		<div class="container">
			<div class="row">
				<div class="four columns">
					<a href="{{ .Site.BaseURL }}" class="title-link"><span style="font-size: 60px ;font-family: 'Roboto Slab', serif;">Zen<span style="color: red;font-weight: 900;font-size: 60px;font-family: 'Roboto Slab', serif;" >effy</span></span></a>
				</div>
				<div class="eight columns" style="padding-top: 10px;">
					<div class="navbar-spacer"></div>
							<ul class="navbar-list" style="float:right">
								<li class="navbar-item"><a class="navbar-link" href="{{ .Site.BaseURL }}/about/">A propos</a></li>
								<li class="navbar-item"><a class="navbar-link" href="{{ .Site.BaseURL }}/post/">Archives</a></li>
								<li class="navbar-item"><a class="navbar-link" href="{{ .Site.Params.githubUrl }}" target="#">Projets</a></li>
							</ul>
	
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="padding-top:110px">
