{{ partial "header.html" . }}
<section class="row not-found">
  <div class="row">
      	<div class="twelve columns">
      		<h1>404</h1>
      	</div>
      </div>
	  
	  <div class="row">
	  		<div class="twelve columns"  align="justify">
	  			<p>Oups cette page n'existe pas, mais vous pouvez peut-être</p>
				<ul>
					<li> Aller à l'<a href="/">accueil</a> </li>
					<li> Parcourir les <a href="/post/">archives</a></li>
				</ul>

	  		</div>
	  	</div>
</section>
{{ partial "footer.html" . }}

