{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseUrl }}

	<div class="row">
		<div class="twelve columns">
		<!-- Recent Posts -->
		{{ range first 5 .Data.Pages }}
			{{ if eq .Type "post"}}
			<div class="row">
				<div class="twelve columns">
					<h1>#{{ .Title }}</h1>
				</div>
			</div>

            <div class="row">
                    <div class="twelve columns" align="justify">
                        {{ .Content }}
                    </div>
            </div>
            <div class="row" style="border-top: 1px solid #eee; ">
				<div class="twelve columns" style="background-color:white; color: black;">
					<span class="post-postedby">Date de publication: {{ .Date.Format "02/01/2006" }}</span>
				</div>
				<div class="twelve columns" style="background-color:white; color: black;">
					<span class="post-postedby">Mots-clefs: </span>
				{{ range .Params.tags }}
				<a style="text-decoration: none;" href="{{ $baseurl}}/tags/{{ . | urlize }}" class="tags-link">#{{ . }}</a>
				{{ end }}
				</div>
			</div>
            <br/><br/>
			{{ end }}
	    {{ end }}
		</div>
	</div>
	
	
	<div class="row">
		<div class="twelve columns" style="text-align: right;">
        <a href="/post/" style="text-decoration: none;">Voir les archives <span aria-hidden="true">&rarr;</span></a>
		</div>
	</div>

{{ partial "footer.html" . }}
